{
  "extends": "standard",
  "rules": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "one-var": ["error", {
        "var": "always",
        "let": "always",
        "const": "never"
        }
      ],
    "eqeqeq": ["error", "smart"]
  }
}
