{
    "extends": "stylelint-config-standard",
    "rules": {
        "indentation": 2,
        "at-rule-no-unknown": null,
        "string-quotes": "single",
        "no-duplicate-selectors": true,
        "color-hex-case": "upper",
        "color-hex-length": "short",
        "color-named": "never",
        "selector-no-qualifying-type": true,
        "selector-combinator-space-after": "always",
        "selector-attribute-quotes": "always",
        "selector-attribute-operator-space-before": "never",
        "selector-attribute-operator-space-after": "never",
        "selector-attribute-brackets-space-inside": "never",
        "declaration-block-trailing-semicolon": "always",
        "declaration-no-important": true,
        "declaration-colon-space-before": "never",
        "declaration-colon-space-after": "always-single-line",
        "value-no-vendor-prefix": true,
        "number-leading-zero": "never",
        "function-url-quotes": "always",
        "font-family-name-quotes": "always-where-required",
        "comment-whitespace-inside": "always",
        "comment-empty-line-before": "always",
        "at-rule-no-vendor-prefix": true,
        "rule-empty-line-before": "always",
        "declaration-empty-line-before":["always", {
          "except": ["first-nested"],
          "ignore": [ "after-declaration"]
        }],
        "selector-pseudo-element-colon-notation": "double",
        "selector-pseudo-class-parentheses-space-inside": "never",
        "selector-no-vendor-prefix": true,
        "media-feature-range-operator-space-before": "always",
        "media-feature-range-operator-space-after": "always",
        "media-feature-parentheses-space-inside": "never",
        "media-feature-name-no-vendor-prefix": true
    }
}
